[DEFAULT]
BROKER=mqtt.thingspeak.com
PORT=1883

[THINGSPEAK]
TOPIC_PUBLISH=channels/<CHANNEL_ID>/publish/<WRITE_KEY_API>
TOPIC_SUBSCRIBE=channels/<CHANNEL_ID>/subscribe/<FORMAT>/<READ_KEY_API>
USERNAME=<USERNAME>
MQTT_API_KEY=<MQTT_API_KEY>